*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --color-bg: rgb(240, 242, 245);
    --mau-chu-dao: #1877f2;
    --mau-boder: #dadde1;
    --mau-chu-chu-form: #606770;
}
.fb-content{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-bg);
}
.fb-content .content-center{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    width: 980px;
    height: 496px;
    padding: 20px 0px;
    /* margin: auto; */
}
.title{
    width: 580px;
}
.title img{
    height: 106px;
    margin: -28px;
    padding: 112px 0px 16px 0px;
    box-sizing: unset;
}
.title h2{
    font-size: 28px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}
.login-form{
    width: 396px;
    height: 350px;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    margin-top: 40px;
    padding: 10px 16px 24px 16px;
}
.login-form .box-input-form{
    padding: 6px 0px;
    text-align: center;
}
.login-form .box-input-form input{
    width: 100%;
    height: 52px;
    padding: 14px 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 17px;
}
input[class=account]:focus {
    border: 1px solid var(--mau-chu-dao);
    outline: none;
}
input[class=pass]:focus {
    border: 1px solid var(--mau-chu-dao);
    outline: none;
}

.login-form .box-btn-login{
    padding-top: 6px;
    text-align: center;
}
.login-form .box-btn-login .btn-login{
    background-color: var(--mau-chu-dao);
    color: #ffff;
    width: 100%;
    font-size: 20px;
    line-height: 48px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
.login-form .box-btn-login .btn-login:hover{
    background-color: #166fe5;
    cursor: pointer;
}
.login-form .box-forget-pass{
    margin-top: 16px;
    text-align: center;
}
.login-form .box-forget-pass .forget-pass{
    font-size: 14px;
    font-weight: 500;
    color: var(--mau-chu-dao);
    text-decoration: none;
}
.login-form .break{
    margin: 20px 0px;
}
.login-form .break hr{
    background-color: var(--mau-boder);
    height: 1px;
    border: none;
}
.login-form .box-register{
    padding-top: 6px;
    text-align: center;
}
.login-form .box-register .register{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 0px 16px;
    background-color: #42b72a;
    color: #fff;
    height: 48px;
    line-height: 48px;
    border-radius: 6px;
}

/* dialog register */

.dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    visibility: hidden;
}
.dialog:target{
    visibility: visible;
}
.box-dialog{
    position: relative;
    width: 432px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.box-title-register{
    height: 82px;
    padding: 10px 16px;
    border-bottom: 1px solid var(--mau-boder);
}
.box-title-register > h3{
    font-size: 32px;
    line-height: 38px;
}
.box-title-register > p{
    color: var(--mau-chu-chu-form);
    font-size: 15px;
    line-height: 24px;
}
.close-dialog{
    position:absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
    color: #000;
    font-size: 26px;
}
.box-form-register{
    padding: 16px;
}
.box-form-register input{
    height: 40px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--mau-boder);
}
.box-form-register .box-fullname{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.box-form-register .box-fullname input{
    width: 194px;
}
.box-form-register .box-new-acount{
    display: flex;
    margin-bottom: 10px;
}
.box-form-register .box-new-acount > input{
    flex: 1;
}

.box-form-register .box-lable{
    font-size: 12px;
    color: var(--mau-chu-chu-form);
}

.box-form-register .box-birthday{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box-form-register .box-birthday select{
    height: 36px;
    width: 125px;
    border-radius: 6px;
    border: 1px solid var(--mau-boder);
    padding: 8px;
    font-size: 15px;
    line-height: 20px;
}

.box-form-register .box-gender{
    display: flex;
    justify-content: space-between;
}
.box-form-register .box-gender > div{
    position: relative;
    border: 1px solid var(--mau-boder);
    border-radius: 6px;
    height: 36px;
    width: 125px;
}
.box-form-register .box-gender label{
    font-size: 15px;
    width: 100%;
    line-height: 36px;
    padding: 0 28px 0 10px;
    display: inline-block;
}
.box-form-register .box-gender input{
    height: 36px;
    position: absolute;
    right: 10px;

}
.box-form-register form > p{
    font-size: 11px;
    color: var(--mau-chu-chu-form);
}
.box-form-register .info-fb{
    margin: 10px 0;
}
.box-form-register .info-fb a{
    text-decoration: none;
}
.box-btn-register{
    text-align: center;
}
.box-btn-register .btn-register{
    background-color: #00a400;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    margin: 10px 0px;
    border: none;
    height: 36px;
    width: 194px;
    padding: 0px 32px;
    font-weight: bold;
}
.box-btn-register .btn-register:hover{
    cursor: pointer;
    background: linear-gradient(#79bc64, #578843);
}
/* end dialog register */